{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}" type="text/css" />
<script src="https://accounts.google.com/gsi/client" async></script>
{% endblock %}

{% block layout_content %}
<div class="container d-flex justify-content-center align-items-center mx-auto">
    <div class="wrapper d-flex rounded flex-column border">
        <!-- {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} rounded-0 m-0">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %} -->
    {% block content %}
    {% endblock %}
    </div>
</div>
{% endblock %}
