{% extends 'accounts/layout.html' %}
{% load static %}

{% block title %}Login | My Django App{% endblock %}

{% block content %}
<div class="d-flex flex-column flex-md-row">
    <div class="border-bottom d-md-none bg-light p-4 text-center">
        <h1 class="m-0 h3">Giriş Yapın</h1>
    </div>
    <div class="w-100 bg-white " style="min-height:420px;padding:40px"><div>

        <div class="d-flex justify-content-center">
            <div id="g_id_onload"
                data-client_id="852146673544-dualchlpk3e543ae1enkces3cumpga8k.apps.googleusercontent.com"
                data-context="signin"
                data-ux_mode="popup"
                data-login_uri="http://localhost:8000/auth-receiver"
                data-auto_prompt="false">
            </div>
            
            <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="continue_with"
                data-size="large"
                data-logo_alignment="left">
            </div>
        </div>

        <div class="text-center text-muted">
            <div class="separator_line">veya e-posta ile devam et</div>
        </div>

        <form method="POST" action="" x-data="loginForm()" @submit.prevent="submitForm">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username_or_email" class="form-label fw-semibold">Kullanıcı adı veya e-posta</label>
                <input
                    class="form-control"
                    name="username_or_email"
                    id="username_or_email"
                    type="text"
                    placeholder="kullanıcı adı/eposta@eposta.com"
                    value="{{ form.username_or_email.value|default_if_none:'' }}"
                    x-init="usernameOrEmail = '{{ form.username_or_email.value|default_if_none:'' }}'"
                    x-model="usernameOrEmail"
                >
                <div x-show="usernameOrEmailError" class="text-danger" x-text="usernameOrEmailError"></div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label fw-semibold">Şifre</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="* * * * * * *" value=""  x-model="password">
                <div x-show="passwordError" class="text-danger" x-text="passwordError"></div>
                {% if form.password.errors %}
                    <div class="text-danger">
                        <ul class="nav">
                            {% for error in form.password.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <a class="text-decoration-none" href="{% url 'accounts:password_reset' %}">Şifremi unuttum</a>
            </div>
            <div class="mb-3"><button type="submit" class="btn btn-primary w-100 py-2">Giriş yap</button></div>
            <div class="mb-3">
                <p>Henüz üye değil misiniz? <a class="text-decoration-none" href="{% url 'accounts:register' %}">Üye ol</a></p>
                <p><a class="text-decoration-none" href="/">Anasayfaya dön</a></p>
            </div>
        </form>
    </div>
</div>
<div class="w-100 p-5 text-white d-none d-md-flex justify-content-between flex-column ">
    <div>
        <h1 class="mb-4">Giriş Yapın</h1>
        <p class="fw-medium">Ürünleri yorumlayın, karşılaştırın, günlük rutinlerinizi takip edin</p>
    </div>
    <p class="small text-end fw-medium">© 2024 <span>All Rights Reserved</span></p>
</div>
     
{% endblock %}


{% block scripts %}
<script>
    function loginForm() {
        return {
            usernameOrEmail: '',
            usernameOrEmailError: '',
            password: '',
            passwordError: '',
     
            validateUsernameOrEmail() {
                if (this.usernameOrEmail.trim() === '') {
                    this.usernameOrEmailError = 'Username/email can not be empty';
                } else if (this.usernameOrEmail.length < 3) {
                    this.usernameOrEmailError = 'Username/email must be at least 3 characters long';
                } else {
                    this.usernameOrEmailError = '';
                }
            },
            
            validatePassword() {
                if (this.password.length < 6) {
                    this.passwordError = 'Password must be at least 6 characters long';
                } else {
                    this.passwordError = '';
                }
            },
    
            isFormValid() {
                return !this.usernameOrEmailError  && !this.passwordError ;
            },
    
            submitForm() {

                // Trigger validation
                this.validateUsernameOrEmail();
                this.validatePassword();
 
                // You can submit the form here using htmx if needed
                if (this.isFormValid()) {
                    this.$el.submit(); // Regular form submission
                }
            }
        }
    }
</script>
{% endblock %}