# .gitignore for Django (server folder)

# Python compiled files
*.pyc
*.pyo
__pycache__/

# Environment
.env.local
.env.production
.env.staging

# Media files (your requirement)
media/

# Database
*.sqlite3
db.sqlite3

# Django migrations
*/migrations/*.pyc
*/migrations/__pycache__/

# Ignore collected static files but not app static files
/staticfiles/
/static/

# Allow static files inside apps
!*/static/*

# Logs
*.log

# Virtual environment folder
env/
venv/

# IDE files (VSCode, PyCharm)
.vscode/
.idea/

# MacOS specific
.DS_Store
